<template>
  <form class="card">
    <h1>Создать новую задачу</h1>
    <div class="form-control">
      <label for="title">Название</label>
      <input v-model="title" type="text" id="title" />
    </div>

    <div class="form-control">
      <label for="date">Дата дэдлайна</label>
      <input v-model="date" type="date" id="date" />
    </div>

    <div class="form-control">
      <label for="description">Описание</label>
      <textarea v-model="description" id="description"></textarea>
    </div>

    <button class="btn primary" :disabled="rulesButton" @click.prevent="setItemData">Создать</button>
  </form>
</template>
<script>

import { useStore } from 'vuex'
import {
  useRouter
} from "vue-router";
import { computed, watch, ref } from "vue";
export default {
  setup() {
    const router = useRouter()
    const store = useStore()
    const checkDate = ref('')
    const items = store.getters.GET_ITEMS
    const date = ref('')
    const description = ref('')
    const title = ref('')
    const rulesButton = computed(() => {
      return title.value===''||date.value===''||description.value===''
    })
    watch([date, checkDate], (newValues) => {
      if(newValues[0].length){
      checkDate.value = parseInt(date.value.replace(/-/g,""),10)>=parseInt(new Date().toJSON().slice(0,10).replace(/-/g,''),10)?'active':'cancelled'
      }
    })

    function setDateZero(date){
        let d = date.split('.')
        let day = d[0]< 10 ? '0' + d[0] : d[0]
        let mon = d[1]< 10 ? '0' + d[1] : d[1]
        return `${day}.${mon}.${d[2]}`
    }
    function setItemData() {
      const dataObj = {
        id: Math.floor(new Date().valueOf() * Math.random()),
        title: title.value,
        date: setDateZero(new Date(date.value).toLocaleDateString()),
        description: description.value,
        status: checkDate
      };
      items.push(dataObj);
      localStorage.setItem("items", JSON.stringify(items));
      (items.title = ""), (items.date = ""), (items.description = "");

      router.push('/')
      
      //localStorage.clear()
    }
    function getItem() {
      JSON.parse(localStorage.getItem("items"));
    }
    function updateItem() {
      JSON.parse(localStorage.getItem("items"));
    }
    return {
      items,
      title,
      date,
      description,
      setItemData,
      getItem,
      updateItem,
      rulesButton
    };
  },
};
</script>