<template>
  <div class="card" v-if="existItem">
    <h2>{{ existItem.title }}</h2>
    <p><strong>Статус</strong>: <AppStatus :type="existItem.status" /></p>
    <p><strong>Дэдлайн</strong>: {{ existItem.date }}</p>
    <p><strong>Описание</strong>: {{existItem.description}}</p>
    <div>
      <button class="btn" @click="goWork(id, 'done')">Взять в работу</button>
      <button class="btn primary" @click="goWork(id, 'pending')">Завершить</button>
      <button class="btn danger" @click="goWork(id, 'cancelled')">Отменить</button>
    </div>
  </div>
  <h3 class="text-white center" v-else>
    Задачи с id = <strong>{{id}}</strong> нет.
  </h3>
</template>

<script>
import AppStatus from '../components/AppStatus'
import { useStore } from "vuex"
import { useRoute} from "vue-router";
export default {
  components: {AppStatus},
  setup(){
    const store = useStore()
    const route = useRoute()
    const id = route.params.id
    const existItem = store.getters.GET_ITEMS.find(i=>i.id==id)

    function goWork(id,status){
      const data = {
        id,
        status
      }
      existItem.status = status
      store.dispatch('EDITE_ITEMS', data)
    }
    return {
      existItem,
      id,
      goWork
    }
  }
}
</script>

<style scoped>

</style>