<template>
  <h1 class="text-white center" v-if="items.length<0">Задач пока нет</h1>
  <template v-else>
    <h3 class="text-white">Всего активных задач: {{activeItem}}</h3>
    <div class="card" v-for="item in items" :key="item.id">
      <h2 class="card-title">
        {{item.title}}
        <AppStatus :type="item.status" />
      </h2>
      <p>
        <strong>
          <small>
            {{item.date}}
          </small>
        </strong>
      </p>
      <button class="btn primary" @click="getDetails(item.id)">Ansehen</button>
    </div>
  </template>
</template>

<script>
import AppStatus from '../components/AppStatus'
import { useStore } from 'vuex'
import { useRouter } from "vue-router"
export default {
  components: {AppStatus},
  setup(){
    const router = useRouter()
    function getDetails(val) {
      router.push('/'+val)
    }
    const store = useStore()
    const items = store.getters.GET_ITEMS
    const activeItem = store.getters.GET_ACTIVE.length
    return {
      items,
      activeItem,
      getDetails
    }
  }
}
</script>
