<template>
  <span :class="['badge', status.class]">{{status.name}}</span>
</template>
<script>
  import {reactive, watch} from "vue"
export default {
  props: ["type"],
  setup(props) {
    const status = reactive({
      class: '',
      name: ''
    })
    watch([props],()=>{
    statusView()
    })
    function statusView() {
      if (props.type === "active") {
        status.class = 'primary';
        status.name = 'Активен';
      } else if (props.type === "done") {
        status.class = 'warning';
        status.name = 'Выполняется';
      } else if (props.type === "cancelled") {
        status.class = 'danger';
        status.name = 'Отменено';
      } else {
        status.class = 'primary';
        status.name = 'Завершон';
      }
    }
    statusView()
    return {
      statusView,
      status
    };
  },
};
</script>